.awards {
  position: absolute;
  top: 7%;
  left: 50%;
  width: 18%;
  transform: translateX(-50%);
  z-index: 1;
}

.title,
.sub-title {
  text-transform: uppercase;
}

.title {
  letter-spacing: 4px;
  line-height: 1em;
  font-family: serif;
  font-size: clamp(24px, 3vw, 50px);
  font-weight: normal;
  margin-bottom: 30px;
  .small {
    font-size: clamp(12px, 1vw, 20px);
    font-weight: 600;
    position: relative;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 20%;
      border-bottom: 1px solid #000;
    }
  }
}

.sub-title {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 4px;
}

.name {
  margin: 4% 0;
  font-family: serif;
  font-size: clamp(30px, 8vw, 55px);
  font-style: italic;
}

.desc {
  font-size: 18px;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 1.5em;
  padding: 0 20px;
}

.certificate {
  width: 600px;
  text-align: center;
  border: 1px solid #000;
  background-color: #000;
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 2px solid #ffed00;
  }
}

.certificate-bg {
  background-color: #ffed00;
  clip-path: polygon(
    50% 18%,
    100% 10%,
    100% 84%,
    60% 100%,
    40% 100%,
    0 84%,
    0 10%
  );
}

.certificate-content {
  position: relative;
  padding: 25% 0 15%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(
    50% 10%,
    75% 18%,
    100% 25%,
    100% 100%,
    68% 100%,
    32% 100%,
    0 100%,
    0 25%,
    0% 25%
  );
}

.flex {
  display: flex;
  justify-content: center;
  padding: 0 16%;
  margin: 5% 0;
  font-family: "Segoe UI";
  font-size: clamp(12px, 2vw, 18px);
  .col {
    text-align: left;
    padding: 5px;
    + .col {
      margin-left: 18%;
    }
    .top {
      padding-bottom: 25px;
      border-bottom: 1px solid #000;
      div {
        font-size: clamp(12px, 2vw, 14px);
      }
    }
    .date {
      font-size: clamp(12px, 2vw, 14px);
      margin-top: 5px;
    }
  }
}

.nolte {
  position: absolute;
  width: 100px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 460px) {
  .flex {
    padding: 10px;
  }
}
